table.fixed {
	border-collapse: collapse;
	table-layout: fixed;
}

table.fixed * {
	border: 1px solid grey;
}

table.fixed tr {
	line-height: 0px;
}

table.fixed td {
	padding: 50px;
	font-size: 2rem;
}

.detail-div {
	display: block;
}
